<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="jpdb-common.js"></script>
    </head>
    <body>
        <h1 id="header" style="font-size: 15px;">Delete a record</h1>
        <div class="container">
            <form id="empForm" method="post">
                <input type="text" id="index" name="index" placeholder="Enter the index of the record to be removed"
                class="form-control">
                <p></p>
                <input type="button" class="btn btn-primary" id="delbtn" value="Delete record" onclick="deleteRecord();">
            </form>
        </div>
        <script>
        function validateAndGetFormData() {
        var indVar = $("#index").val();
        if (indVar === "") {
        alert("Index is a required Value");
        $("#index").focus();
        return "";
        }
        var jsonStrObj = {
        index: index,
        };
        return JSON.stringify(jsonStrObj);
        }
        function resetForm() {
        $("#index").val("");
        $("#index").focus();
        }
        function deleteRecord() {
        var jsonStr = validateAndGetFormData();
        if (jsonStr === "") {
        return;
        }
        var removeReqStr = createREMOVERecordRequest("90939076|-31949282520496781|90940641", "SAMPLE_DB", "Emp-rel", parseInt(document.getElementById("index").value));
        alert(removeReqStr);
        jQuery.ajaxSetup({ async: false });
        var resultObj = executeCommandAtGivenBaseUrl(removeReqStr,
        "http://api.login2explore.com:5577", "/api/iml");
        alert(JSON.stringify(resultObj));
        jQuery.ajaxSetup({ async: true });
        resetForm();
        }
        </script>
        <button id="footer" onclick="location.href='../index.html'">Home</button>
    </body>
</html>