<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="jpdb-common.js"></script>
    <script src="get.js"></script>
</head>

<body>
    

    <h1 id="header" style="font-size: 15px;">Retrieve a record</h1>

    <div class="container">
        <form id="empForm" method="post">
            <input type="text" id="empName" name="empName"
                placeholder="Enter the name of the employee whose record is to be fetched" class="form-control">
            <p></p>
            <input type="button" class="btn btn-primary" value="Fetch Record" onclick="getEmployee();">

        </form>
    </div>
    <button id="footer" onclick="location.href='../index.html'">Home</button>

</body>

</html>
